<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>mykilOS</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>mykilOS verbindet sich mit deinem Bluetooth-Laser-Entfernungsmesser, um Maße direkt beim Aufmaß zu übernehmen.</string>
	<key>NSCameraUsageDescription</key>
	<string>mykilOS nutzt die Kamera, um Fotos für das Aufmaß aufzunehmen und zu bemaßen.</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>mykilOS sucht im lokalen Netzwerk nach unterstützten Messgeräten.</string>
	<key>NSMotionUsageDescription</key>
	<string>mykilOS nutzt die Bewegungssensoren für die Kamera-Wasserwaage beim Aufmaß.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>mykilOS speichert Aufmaß-Fotos und PDF-Exporte in deiner Fotomediathek, wenn du das auswählst.</string>
	<key>UIAppFonts</key>
	<array>
		<string>ABCMonumentGrotesk-Medium.otf</string>
		<string>ABCMonumentGroteskMono-Regular.otf</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UIRequiresFullScreen</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
